*{
    background-color: #ecfefa;
}
.main-header {
    display: flex;
    justify-content: space-between;
    background-color: #ecfefa;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: black;
    width: 100%;
  }
  
  header h1 {
    display: inline-block;
    font-size: 35px;
    margin-left: 25px;
  }
  
  header h2 {
    display: inline-block;
    margin-right: 25px;
  }