* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root {
  --lightAqua: #ecfefa;
  --blushPink: #FFC1C6;
  --kellyGreen: #03ac13;
  --candyApple: #d21404;
}

body {
  font-size: 16px;
  background-color: var(--lightAqua);
  margin: 0;
  padding: 20px;
}

header {
  background-color: var(--blushPink);
  color: black;
  text-align: center;
  padding: 15px;
}

header h1 {
  font-size: 36px;
  font-weight: bold;
}

#tm-sc-bar {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  font-size: 16px;
}

#highscores {
  color: black;
}

#highscores:hover {
  cursor: pointer;
  color: lightgray;
}

#timeleft {
  float: right;
}

#startpage {
  text-align: center;
}

#startpage p {
  margin: 75px;
  font-size: 20px;
}

button {
  margin: 20px;
  padding: 20px;
  background-color: lightgray;
  border: none;
  color:black;
  display: inline-block;
  font-size: 25px;
}

button:hover {
  background-color: var(--blushPink);
}

#quizcard {
  display: contents;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#questioncard {
 font-size: larger;
 flex-direction: column;
 align-items: center;
}

#answercard {
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#scorecard {
display:flex;
flex-wrap: wrap;
flex-direction: column;
text-align: center;
margin: 40px;

}

#end{
  display: none;
  font-size: large;
}

footer {
  text-align: center;
  font-size: 25px;
}